so how do we know what stage these
different leads are in so we need to be
equipped with a few different things
first of all the lead Source lead source
is where our contact has originally come
from is it from cold Outreach we've done
a c call or we've messaged them on
LinkedIn is it that they've come from a
Facebook ad or a referral or they've
seen something on Google where have
these leads actually originated from we
may also want to know how long have they
been in the database do they know hardly
anything about the business because they
only learned about us yesterday is it
that they've been following us for
months so they're probably going to be a
little bit more aware the next thing
that's really useful is frame of mind
what message converted them to become a
lead or to book a conversation with you
or again if you're doing C- calling or
Outreach what hook did you use that got
them to say yes and is there any
information that we have that might give
us an inclination of what sort of Avatar
as this person so how can we expect to
treat them within the CDP
process and then finally existing
knowledge how much do they know about
the business have they bought with us
before are they an existing customer if
they've had a referral chances or
they've probably had a conversation with
somebody else so we need to make sure
that we understand that we're not
teaching them to suck ads and we're not
starting from scratch but we can give
them the information that they need
relevant to how much they already know
about the business the process and what
it is that we do

